
<style>

.qr-code{
    padding: 5px;
    margin: 10px;
    color: blue;
}

</style>

<table style="padding: 2px;">
    <tr>
        <td class="qr-code"><%=@svg%><td>
        <td class="qr-code" ><%=@svg%><td>
        <td class="qr-code"><%=@svg%><td>
        <td class="qr-code"><%=@svg%><td>
    </tr>
     <tr>
        <td class="qr-code"><%=@svg%><td>
        <td class="qr-code" ><%=@svg%><td>
        <td class="qr-code"><%=@svg%><td>
        <td class="qr-code"><%=@svg%><td>
    </tr>
</table>